* {
    box-sizing: border-box
}

body {
    background-color: #F3EBF6;
    font-family: 'Roboto Mono', monospace;
}
/* Add padding to containers */
.container {
    padding: 16px;
}

.createBtn {
    cursor: pointer;
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #000000, #333232);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: 'Roboto Mono', monospace;
    margin-left: 35%;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

.createBtn:hover {
    opacity: 0.8;
}

.text-danger {
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 50px;
    margin-left: 46px;
    text-align: center;
    margin-bottom: 27px;
    font-family: 'Roboto Mono', monospace;
}

.text-danger:focus{
    border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.create {
    padding-top: 10px;
    color: #000000;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    font-size: 30px;
}

@media (max-width: 600px) {
    .main {
        border-radius: 0px;
    }
}