@model Volunteer
@{
    Layout = "AdminMenu";
}

<link href="~/css/tableDesign.css" rel="stylesheet" />

<form asp-action="_EditVolunteer">
    <div class="form-group row">
        <label asp-for="AssignedZones"></label>
        <input type="text" asp-for="AssignedZones" class="form-control-plaintext" readonly/>
    </div>
    <div class="form-group row">
        <label asp-for="CompletedRequests"></label>
        <input type="text" asp-for="CompletedRequests" class="form-control-plaintext" readonly/>
    </div>
    <div class="form-group row">
        <label asp-for="Contact"></label>
        <input type="text" asp-for="Contact" class="form-control-plaintext" />
    </div>
    <div class="form-group row">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" class="form-control-plaintext" />
    </div>
    <div class="form-group row">
        <label asp-for="PostalCode"></label>
        <input type="text" asp-for="PostalCode" class="form-control-plaintext" readonly/>
    </div>
    <div class="form-group row">
        <label asp-for="ZoneID"></label>
        <input type="text" asp-for="ZoneID" class="form-control-plaintext" readonly/>
    </div>

    <div class="form-group row">
        <div class="col-6 offset-5">
            <input type="submit" value="Save"
                   class="btn-lg btn-primary" />
        </div>
    </div>
</form>