@model List<Area>;
@{
    Layout = "~/Views/Shared/AdminMenu.cshtml";
}
<style>
    #map {
        height: 500px;
    }

    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    let map;
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 1.3562033, lng: 103.8281415 },
            zoom: 11,
        })
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3QoucpamS6ylPkzBSJBXmbt5ZH7Np6Jk&callback=initMap">
</script>


<h2>Admin page</h2>
<div id="map">

</div>

@{
    List<items> itemlist = new List<items>();
    foreach (Area area in Model)
    {
        if (area.reqlist.Count != 0)
        {
            foreach (items item in area.itemsList)
            {
                items curritem = itemlist.Find(x => x.Name == item.Name);
                if (curritem != null)
                {
                    curritem.Requested += item.Requested;
                }
                else
                {
                    itemlist.Add(item);
                }
            }
            foreach (UserRequests requests in area.reqlist)
            {
                string words = "Item summary\n";
                <script>
                $(document).ready(function(){
                    var gaddress = "Singapore " +@requests.PostalCode;
                    var lat1;
                    var lng1;
                    axios.get('https://maps.googleapis.com/maps/api/geocode/json', {
                        params: {
                            address: gaddress,
                            key: 'AIzaSyA3QoucpamS6ylPkzBSJBXmbt5ZH7Np6Jk'
                        }
                    })
                        .then(function (response) {
                            console.log(response);
                            lat1 = Number(response.data.results[0].geometry.location.lat);
                            lng1 = Number(response.data.results[0].geometry.location.lng);
                            console.log(lat1);
                            console.log(lng1);

                            @foreach (items item in requests.itemlist)
                            {
                                words += item.Name + " :" + item.Requested + "\n";
                            }
                            var contents = "@words";
                            var marker = new google.maps.Marker({ position: { lat: lat1, lng: lng1 }, map: map, content: contents });
                            var infoWindow = new google.maps.InfoWindow({
                                content: contents
                            });
                            marker.addListener('click', function () {
                                infoWindow.open(map, marker)
                            });
                        });
                    });
                </script>
            }
        }
    }
    <table>
        <thead>
            <tr>
                <th>Item name</th>
                <th>Total requested Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (items item in itemlist)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Requested</td>
                </tr>
            }
        </tbody>
    </table>
}

<script>
    function addMarker(coords) {
        var marker = new google.maps.Marker({
            position: coords.coords,
            map: map
        })
    }
</script>