@model Volunteer
@{
    Layout = "AdminMenu";
}
<!DOCTYPE html>
<meta charset="UTF-8">

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<h2>Assign Volunteer</h2>
<div id="map">

</div>
@{
    var text = (System.IO.File.ReadAllText(@"wwwroot\subzones.geojson"));
    <script>
        let map;
        function initMap() {
            var infowindow = new google.maps.InfoWindow();
            var json = @Html.Raw(text);
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 1.3562033, lng: 103.8281415 },
                zoom: 11,
            })
            map.setOptions({ streetViewControl: false });
            map.data.addGeoJson(json);
            map.data.setStyle(function (feature) {
                var color = 'grey';
                var weight = 0.3;
                var opacity = 0.3
                if (feature.getProperty('isColorful')) {
                    color = 'red';
                    weight = 2;
                    opacity = 0.7
                }
                return {
                    fillColor: color,
                    strokeWeight: weight,
                    fillOpacity: opacity
                };
            });
            map.data.addListener('mouseover', function (event) {
                map.data.overrideStyle(event.feature, { opacity: 1, strokeWeight: 2 })
                infowindow.setContent(event.feature.getProperty("Name") + ": " + event.feature.getProperty("SUBZONE_N"));
                infowindow.setPosition(event.latLng);
                infowindow.open(map);
            })
            map.data.addListener('mouseout', function (event) {
                map.data.revertStyle();
            })
            map.data.addListener('click', function (event) {
                if (event.feature.getProperty('isColorful')) {
                    event.feature.setProperty('isColorful', false);
                    removeVal(event.feature.getProperty("Name"));
                }
                else {
                    event.feature.setProperty('isColorful', true);
                    addVal(event.feature.getProperty("Name"));
                }
            });
            }
    </script>
}
<script>
    function updateText() {

    }
    var id = "@ViewBag.id";
    function getZones() {
        var namelist = [];
        map.data.forEach(function (feature) {
            if (feature.getProperty('isColorful')) {
                namelist.push(feature.getProperty("Name"));
            }
        });
        var string = namelist.join();
        $.ajax({
            url: "/Admin/AsgnVolunteer?vol=" + id + "&zones=" + string,
            type: "POST",
            async: true,
        }).done(function () {
            window.location.pathname = "/Admin/ViewVol";
        })
    
    }
</script>
<link href="~/css/asgnVolunteer.css" rel="stylesheet" />
<form class="content-form">
    <div class="contentform">
        <div class="leftcontact">
            <div class="form-group" style="margin-bottom:0 !important">
                <p>ID <span>*</span></p>
                <span id="icon-case"></span>
                <input type="text" asp-for="ID" class="inputbox" readonly />
            </div>
            <div class="form-group">
                <p>Name <span>*</span></p>
                <span id="icon-case"></span>
                <input type="text" asp-for="Name" class="inputbox" readonly />
            </div>
            <div class="form-group">
                <p>Contact <span>*</span></p>
                <span id="icon-case"></span>
                <input type="text" asp-for="Contact" class="inputbox" readonly />
            </div>
            <div class="form-group">
                <p>Assigned Zones <span>*</span></p>
                <span id="icon-case"></span>
                <input id="asgnzone"type="text" asp-for="AssignedZones" class="inputbox" readonly />
            </div>
        </div>
        <div class="rightcontact">
            <div class="form-group">
                <p>Postal Code <span>*</span></p>
                <span id="icon-case"></span>
                <input type="text" asp-for="PostalCode" class="inputbox" readonly />
            </div>
            <div class="form-group">
                <p>Zone ID <span>*</span></p>
                <span id="icon-case"></span>
                <input type="text" asp-for="ZoneID" class="inputbox" readonly />
            </div>
            <div class="form-group">
                <p>Region Code <span>*</span></p>
                <span id="icon-case"></span>
                <input type="text" asp-for="RegionCode" class="inputbox" readonly />
            </div>
        </div>
        <button onclick="getZones()" type="button" class="getZone">Assign Zone</button>
    </div>
</form>

<script>
    zones = "@Model.AssignedZones";
    zonelist = zones.split(",");
    window.onload = function () {
        map.data.forEach(function (feature) {
            var SD_NAME = feature.getProperty('Name');
            var contains = (zonelist.indexOf(SD_NAME) > -1);
            console.log(contains);
            if (contains) {
                feature.setProperty("isColorful", true);
            }
        });
    };
    function addVal(text) {
        var value = document.getElementById("asgnzone").value;
        if (value == "") {
            document.getElementById("asgnzone").value = text;
        }
        else {
            document.getElementById("asgnzone").value = (document.getElementById("asgnzone").value + ","+text);
        }
    }
    function removeVal(text) {
        var value = document.getElementById("asgnzone").value;
        if (value == text) {
            document.getElementById("asgnzone").value = "";
        }
        else {
            namelist = value.split(",");
            var index = namelist.indexOf(text);
            namelist.splice(index, 1);
            document.getElementById("asgnzone").value = namelist.toString();
        }
    }
</script>





<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3QoucpamS6ylPkzBSJBXmbt5ZH7Np6Jk&callback=initMap"></script>
