@model RQST.Models.Elderly

@{
    ViewData["Title"] = "CreateElderly";
    Layout = "AdminMenu";
}

@{
    List<SelectListItem> genderList = new List<SelectListItem>();

    genderList.Add(new SelectListItem
    {
        Value = "M",
        Text = "M"
    });

    genderList.Add(new SelectListItem
    {
        Value = "F",
        Text = "F"
    });
 }

<link href="~/css/elderlystyle2.css" rel="stylesheet" />
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


<body>
    <form asp-action="CreateElderly" class="content-form" >
        <div class="contentform">
            <div id="sendmessage"> The account has been created successfully! </div>
            @*Name, Gender, Email, Password, Address, Postal Code, Special Needs, Create*@
        <div class="top-form">
            <h2>Register New Elderly</h2>
        </div>
        <div class="leftcontact">
            <div class="form-group" style="margin-bottom:0 !important">
                <p>Name <span>*</span></p>
                <span class="material-icons" id="icon-case">person</span>
                <input type="text" asp-for="Name" class="inputbox" placeholder="Name" required data-msg="Check your input on the fields: The 'Name' field must be completed." />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>

            <div class="form-group" style="margin-bottom:0 !important">
                <p>Gender <span>*</span></p>
                @*<span class="material-icons" id="icon-case">wc</span>*@
                @*<input type="text" asp-for="Gender" class="inputbox" placeholder="Gender" required data-msg="Check your input on the fields: The 'Gender' field must be completed." />*@
                <select name="Gender" class="form-control" asp-items="genderList" required data-msg="Check your input on the fields: The 'Gender' field must be completed.">
                    <option disabled selected hidden>Select Your Gender</option>
                </select>
            </div>
            <span asp-validation-for="Gender" class="text-danger"></span>

            <div class="form-group" style="margin-bottom:0 !important">
                <p>E-mail <span>*</span></p>
                <span class="material-icons" id="icon-case">email</span>
                <input type="email" asp-for="Email" class="inputbox" placeholder="Email" required data-msg="Check your input on the fields: The 'Email' field must be completed." autocomplete="new-password"/>
            </div>
            <span asp-validation-for="Email" class="text-danger">@*<i class="fa fa-envelope-o"></i>*@</span>

            <div class="form-group" style="margin-bottom:0 !important">
                <p>Contact Number <span>*</span></p>
                <span class="material-icons" id="icon-case">phone</span>
                <input type="text" asp-for="Contact" class="inputbox" placeholder="Contact" required data-msg="Check your input on the fields: The 'Contact' field must be completed." autocomplete="new-password"/>
            </div>
            <span asp-validation-for="Contact" class="text-danger">@*<i class="fa fa-envelope-o"></i>*@</span>
        </div>  

        <div class="rightcontact">
            @*Password, Address, Postal Code, Special Needs*@
            <div class="form-group" style="margin-bottom:0 !important">
                <p>Password <span>*</span></p>
                <span class="material-icons" id="icon-case">vpn_key</span>
                <input type="password" asp-for="Password" class="inputbox" placeholder="********" required autocomplete="new-password"/>
            </div>
            <span asp-validation-for="Password" class="text-danger">@*<i class="fa fa-info"></i>*@</span>

            <div class="form-group" style="margin-bottom:0 !important">
                <p>Address <span>*</span></p>
                <span class="material-icons" id="icon-case">map</span>
                <input type="text" asp-for="Address" class="inputbox" placeholder="Address" required />
            </div>
            <span asp-validation-for="Address" class="text-danger">@*<i class="fa fa-building-o"></i>*@</span>

            <div class="form-group" style="margin-bottom:0 !important">
                <p>Postal Code <span>*</span></p>
                <span class="material-icons" id="icon-case">add_location_alt</span>
                <input type="text" asp-for="PostalCode" class="inputbox" placeholder="Postal Code" required data-msg="Check your input on the fields: The 'Postal Code' field must be numerical." />
            </div>
            <span asp-validation-for="PostalCode" class="text-danger">@*<i class="fa fa-map-marker"></i>*@</span>

            <div class="form-group" style="margin-bottom:0 !important">
                <p>Special Needs <span>*</span></p>
                <span class="material-icons" id="icon-case">wheelchair_pickup</span>
                <input type="text" asp-for="SpecialNeeds" class="inputbox" placeholder="e.g. Halal, Vegetarian, Allergics" required />
            </div>
            <span asp-validation-for="SpecialNeeds" class="text-danger">@*<i class="fa fa-comment-o"></i>*@</span>

        </div>
            <input type="submit" value="Create" class="createBtn" />
        </div>
        

    </form>


</body>







@*<div class="main">
        <p class="create" align="center">Create New Elderly</p>
        <form asp-action="CreateElderly" class="form2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>@TempData["Message"]</div>

            <input type="text" asp-for="Name" class="inputbox" placeholder="Name" required />
            <span asp-validation-for="Name" class="text-danger"></span>
            <input type="text" asp-for="Gender" class="inputbox" placeholder="Gender" required />
            <span asp-validation-for="Gender" class="text-danger"></span>
            <input type="text" asp-for="Email" class="inputbox" placeholder="Email" required />
            <span asp-validation-for="Email" class="text-danger"></span>
            <input type="password" asp-for="Password" class="inputbox" placeholder="Password" required />
            <span asp-validation-for="Password" class="text-danger"></span>
            <input type="text" asp-for="Address" class="inputbox" placeholder="Address" required />
            <span asp-validation-for="Address" class="text-danger"></span>
            <input type="text" asp-for="PostalCode" class="inputbox" placeholder="Postal Code" required />
            <span asp-validation-for="PostalCode" class="text-danger"></span>
            <input type="text" asp-for="SpecialNeeds" class="inputbox" placeholder="Special Needs" />
            <span asp-validation-for="SpecialNeeds" class="text-danger"></span>
            <input type="submit" value="Create" class="createBtn" />
        </form>
    </div>*@