@model RQST.Models.Volunteer

@{
    ViewData["Title"] = "CreateVolunteer";
    Layout = "AdminMenu";
}
<link href="~/css/volunteerstyle.css" rel="stylesheet" />


<body>
    <h1>Register New Volunteer</h1>

    <form asp-action="CreateVolunteer" class="form2">
        <div class="contentform">
            <div id="sendmessage"> The account has been created successfully! </div>
            @*Name, Contact, Region Code, Zone ID, Completed Request, Assigned Zones, Create*@
        <div class="leftcontact">
            <div class="form-group" style="margin-bottom:0 !important">
                <p>Name <span>*</span></p>
                <span id="icon-case"></span>
                <input type="text" asp-for="Name" class="inputbox" placeholder="Name" required data-msg="Check your input on the fields: The 'Name' field must be completed." />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
            <div class="form-group" style="margin-bottom:0 !important">
                <p>Contact <span>*</span></p>
                <span id="icon-case"></span>
                <input type="text" asp-for="Contact" class="inputbox" placeholder="Contact" required data-msg="Check your input on the fields: The 'Contact' field must be numerical." />
            </div>
            <span asp-validation-for="Contact" class="text-danger"></span>
            <div class="form-group" style="margin-bottom:0 !important">
                <p>Region Code <span>*</span></p>
                <span id="icon-case"></span>
                <input type="text" asp-for="RegionCode" class="inputbox" placeholder="Region Code" required data-msg="Check your input on the fields: The 'Region Code' field must be completed." />
            </div>
            <span asp-validation-for="RegionCode" class="text-danger"></span>
            <div class="form-group" style="margin-bottom:0 !important">
                <p>Zone ID <span>*</span></p>
                <span id="icon-case"></span>
                <input type="text" asp-for="Zone" class="inputbox" placeholder="Zone ID" required data-msg="Check your input on the fields: The 'Zone' field must be completed." />
            </div>
            <span asp-validation-for="Zone" class="text-danger"></span>
            <div class="form-group" style="margin-bottom:0">
                <p>Completed Request <span>*</span></p>
                <span id="icon-case"></span>
                <input type="text" asp-for="CompletedRequests" class="inputbox" placeholder="No. of Completed Request" data-msg="Check your input on the fields: The 'Complated Request' field must be numerical." />
            </div>
            <span asp-validation-for="CompletedRequests" class="text-danger"></span>
            <div class="form-group" style="margin-bottom:0">
                <p>Assigned Zones <span>*</span></p>
                <span id="icon-case"></span>
                <input type="text" asp-for="AssignedZones" class="inputbox" placeholder="Assigned Zones" data-msg="Check your input on the fields: The 'Assigned Zones' field must be completed." />
            </div>
            <span asp-validation-for="AssignedZones" class="text-danger"></span>
        </div>
            </div>
            <input type="submit" value="Create" class="createBtn" />
        </div>

    </form>
</body>




    @*
        <div class="main">
            <p class="create" align="center">Create New Volunteer</p>
                <form asp-action="CreateVolunteer" class="form2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="text" asp-for="Name" class="inputbox" placeholder="Name" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input type="text" asp-for="Contact" class="inputbox" placeholder="Contact Number" required />
                    <span asp-validation-for="Contact" class="text-danger"></span>
                    <input type="text" asp-for="Attendance" class="inputbox" placeholder="Attendance" required />
                    <span asp-validation-for="Attendance" class="text-danger"></span>
                    <input type="text" asp-for="Status" class="inputbox" placeholder="Status" required />
                    <span asp-validation-for="Status" class="text-danger"></span>
                    <div class="createBtnpos">
                        <input type="submit" value="Create" class="createBtn" />
                    </div>
                </form>
        </div>
    *@

