@model RQST.Models.Volunteer

@{
    ViewData["Title"] = "CreateVolunteer";
    Layout = "AdminMenu";
}
<link href="~/css/volunteerstyle.css" rel="stylesheet" />


<body>
    <h1>Register New Volunteer</h1>

    <form asp-action="CreateVolunteer" class="form2">
        <div class="contentform">
            <div id="sendmessage"> The account has been created successfully! </div>
            @*Name, Gender, Email, Password, Address, Postal Code, Special Needs, Create*@
            <div class="leftcontact">
                <div class="form-group">
                    <p>Name <span>*</span></p>
                    <span asp-validation-for="Name" id="icon-case" class="text-danger"></span>
                    <input type="text" asp-for="Name" class="inputbox" placeholder="Name" required data-msg="Check your input on the fields: The 'Name' field must be completed." />
                </div>
                <div class="form-group">
                    <p>Contact <span>*</span></p>
                    <span asp-validation-for="Contact" id="icon-case" class="text-danger"></span>
                    <input type="text" asp-for="Contact" class="inputbox" placeholder="Contact" required data-msg="Check your input on the fields: The 'Name' field must be completed." />
                </div>
            </div>


            <div class="rightcontact">
                @*Address, Postal Code, Special Needs*@
                <div class="form-group">
                    <p>Address <span>*</span></p>
                    <span asp-validation-for="Attendance" class="text-danger" id="icon-case">@*<i class="fa fa-building-o"></i>*@</span>
                    <input type="text" asp-for="Attendance" class="inputbox" placeholder="Address" required data-msg="Vérifiez votre saisie sur les champs : Le champ 'Ville' doit être renseigné." />
                </div>

                <div class="form-group">
                    <p>Postal Code <span>*</span></p>
                    <span asp-validation-for="Status" class="text-danger" id="icon-case">@*<i class="fa fa-map-marker"></i>*@</span>
                    <input type="text" asp-for="Status" class="inputbox" placeholder="Postal Code" required data-msg="Vérifiez votre saisie sur les champs : Le champ 'Code postal' doit être renseigné." />
                </div>
            </div>
            <input type="submit" value="Create" class="createBtn" />
        </div>
    </form>
</body>




    @*
        <div class="main">
            <p class="create" align="center">Create New Volunteer</p>
                <form asp-action="CreateVolunteer" class="form2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="text" asp-for="Name" class="inputbox" placeholder="Name" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input type="text" asp-for="Contact" class="inputbox" placeholder="Contact Number" required />
                    <span asp-validation-for="Contact" class="text-danger"></span>
                    <input type="text" asp-for="Attendance" class="inputbox" placeholder="Attendance" required />
                    <span asp-validation-for="Attendance" class="text-danger"></span>
                    <input type="text" asp-for="Status" class="inputbox" placeholder="Status" required />
                    <span asp-validation-for="Status" class="text-danger"></span>
                    <div class="createBtnpos">
                        <input type="submit" value="Create" class="createBtn" />
                    </div>
                </form>
        </div>
    *@

