@model RQST.Models.Volunteer

@{
    ViewData["Title"] = "CreateVolunteer";
    Layout = "AdminMenu";
}
<link href="~/css/volunteerstyle.css" rel="stylesheet" />


<body>
    <form asp-action="CreateVolunteer" class="content-form">
        <div class="contentform">
            <div id="sendmessage"> The account has been created successfully! </div>
            @*Name, Contact, Region Code, Zone ID, Completed Request, Assigned Zones, Create*@
            <div class="top-form">
                <h2>Register New Volunteer</h2>
            </div>
            <div class="leftcontact">
                <div class="form-group" style="margin-bottom:0 !important">
                    <p>Name <span>*</span></p>
                    <span id="icon-case">
                        <img src="~/img/name.png" style="width:25px; height:25px;" />
                    </span>
                    <input type="text" asp-for="Name" class="inputbox" placeholder="Name" required />
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
                <div class="form-group" style="margin-bottom:0 !important">
                    <p>E-mail <span>*</span></p>
                    <span id="icon-case">
                        <img src="~/img/email.png" style="width:25px; height:25px;" />
                    </span>
                    <input type="email" asp-for="Email" class="inputbox" placeholder="Email" required />
                </div>
                <span asp-validation-for="Email" class="text-danger">@*<i class="fa fa-envelope-o"></i>*@</span>

                <div class="form-group" style="margin-bottom:0 !important">
                    <p>Password <span>*</span></p>
                    <span id="icon-case">
                        <img src="~/img/password.png" style="width:28px; height:28px;" />
                    </span>
                    <input type="password" asp-for="Password" class="inputbox" placeholder="********" required />
                </div>
                <span asp-validation-for="Password" class="text-danger">@*<i class="fa fa-info"></i>*@</span>
            </div>
            <div class="rightcontact">
                <div class="form-group" style="margin-bottom:0 !important">
                    <p>Postal Code <span>*</span></p>
                    <span id="icon-case">
                        <img src="~/img/postalcode.png" style="width:28px; height:28px;" />
                    </span>
                    <input type="text" asp-for="PostalCode" class="inputbox" placeholder="Postal Code" required/>
                </div>
                <span asp-validation-for="PostalCode" class="text-danger"></span>
                <div class="form-group" style="margin-bottom:0 !important">
                    <p>Contact Number <span>*</span></p>
                    <span id="icon-case">
                        <img src="~/img/contact number.png" style="width:28px; height:28px;"/>
                    </span>
                    <input type="text" asp-for="Contact" class="inputbox" placeholder="Contact" required />
                </div>
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <input type="submit" value="Create" class="createBtn" />
        </div>
    </form>
</body>




    @*
        <div class="main">
            <p class="create" align="center">Create New Volunteer</p>
                <form asp-action="CreateVolunteer" class="form2">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="text" asp-for="Name" class="inputbox" placeholder="Name" required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <input type="text" asp-for="Contact" class="inputbox" placeholder="Contact Number" required />
                    <span asp-validation-for="Contact" class="text-danger"></span>
                    <input type="text" asp-for="Attendance" class="inputbox" placeholder="Attendance" required />
                    <span asp-validation-for="Attendance" class="text-danger"></span>
                    <input type="text" asp-for="Status" class="inputbox" placeholder="Status" required />
                    <span asp-validation-for="Status" class="text-danger"></span>
                    <div class="createBtnpos">
                        <input type="submit" value="Create" class="createBtn" />
                    </div>
                </form>
        </div>
    *@

