@model RQST.Models.Volunteer

@{
    ViewData["Title"] = "CreateVolunteer";
    Layout = "AdminMenu";
}
<link href="~/css/volunteerstyle.css" rel="stylesheet" />

<div class="main">
    <p class="create" align="center">Create New Volunteer</p>
        <form asp-action="CreateVolunteer" class="form2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="text" asp-for="Name" class="inputbox" placeholder="Name" required />
            <span asp-validation-for="Name" class="text-danger"></span>
            <input type="text" asp-for="Nric" class="inputbox" placeholder="NRIC" required />
            <span asp-validation-for="Nric" class="text-danger"></span>
            <input type="text" asp-for="Contact" class="inputbox" placeholder="Contact Number" required />
            <span asp-validation-for="Contact" class="text-danger"></span>
            <input type="text" asp-for="Attendance" class="inputbox" placeholder="Attendance" required />
            <span asp-validation-for="Attendance" class="text-danger"></span>
            <input type="text" asp-for="Status" class="inputbox" placeholder="Status" required />
            <span asp-validation-for="Status" class="text-danger"></span>
            <div class="createBtnpos">
                <input type="submit" value="Create" class="createBtn" />
            </div>
        </form>
</div>

