<link href="~/css/slideVisual.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="wrapper">
        <div class="sliding-background"></div>
    </div>
</div>

<div class="slideshow-container">

    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="~/img/delivery.jpg" style="width:100%">
        <div class="text"><strong><i>To better serve the elderly community</i></strong></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="~/img/volunteer-with-elderly-10.jpg" style="width:100%">
        <div class="text"><strong><i>Empowering lives</i></strong></div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="~/img/20141125_volunteer-nuh_st_0.jpg" style="width:100%">
        <div class="text"><strong><i>Ensure the care and love</i></strong></div>
    </div>

</div>
<br>

<div style="text-align:center">
    <span class="dot"></span>
    <span class="dot"></span>
    <span class="dot"></span>
</div>

<script src="~/js/slider.js"></script>
