<link href="~/css/slideVisual.css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<h1>@ViewData["Title"]</h1>

@model Login;
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Login</title>
<link href="~/css/loginstyle.css" rel="stylesheet" />

<div class="main" style="float:right">
    <p class="login" align="center"><img src="~/img/handshake-microsoft.png" class="img-fluid" height="100" width="100" /></p>

    <form asp-controller="Home" asp-action="LoginPage" class="form1" method="post">
        <input type="text" asp-for="Email" placeholder="Email" class="email" required>
        <input type="password" asp-for="Password" placeholder="Password" class="psw" required>
        <a asp-controller="Home" asp-action="ForgotPass" class="forgotpsw">Forgot Password?</a>
        <div class="loginBtnpos">
            <input type="submit" value="Login" class="loginBtn">
        </div>


    </form>
</div>