<link href="~/css/backgroundvisual.css" rel="stylesheet" />
<h1>@ViewData["Title"]</h1>

<p>Welcome to WithinReach's home page</p>
<div class="wrapper">
    <div class="sliding-background"></div>
</div>
