@model RQST.Models.Login
@{
    ViewData["Title"] = "Login Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container" id="loginbox">
        <form asp-controller="Home" asp-action="LoginPage" method="post">
            <p style="color:red;">@TempData["Message"]</p>
            <p>Email</p>
            <input type="email" asp-for="Email" />
            <br />
            <p>Password</p>
            <input type="password" asp-for="Password" />
            <br />
            <input type="submit" value="Login" />
        </form>
    </div>
    
</div>