@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<p>Warning! Do not disclose elderly's information to outsider, victims will be prosecuted and executed to prevent any extortion opportunities. So leak at your own RISK.</p>
<p>Use this page to detail your site's privacy policy.</p>
