<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RQST</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container">

                <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="Admin"><img src="~/img/webicon.jpg" class="img-fluid" height="100" width="100" style="padding-right: inherit" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" id="staffNavbar">
                    <div class="navbar-nav flex-grow-1">
                        <div class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Elderly</button>
                            <div class="dropdown-menu" role="menu">
                                <a asp-controller="Admin" asp-action="CreateElderly">Register new Elderlies</a>
                                <div class="dropdown-divider"></div>
                                <a asp-controller="Admin" asp-action="_ViewElderly">List of Elderlies</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Volunteers</button>
                            <div class="dropdown-menu" role="menu">
                                <a asp-controller="Admin" asp-action="CreateVolunteer">Add new Volunteers</a>
                                <div class="dropdown-divider"></div>
                                <a asp-controller="Admin" asp-action="_ViewVolunteer">List of Volunteers</a>
                                <div class="dropdown-divider"></div>
                                <a asp-controller="Admin" asp-action="Admin">Assign Volunteers</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <button class="nav-link dropdown-toggle" data-toggle="dropdown" href="">Request</button>
                            <div class="dropdown-menu" role="menu">
                                <a asp-controller="Admin" asp-action="Requests">Requests</a>
                                <div class="dropdown-divider"></div>
                                <a asp-controller="Admin" asp-action="RawRequests">Raw Request</a>
                            </div>
                        </div>
                        <div class="nav-item mr-auto">
                            <!-- A link for logging out user -->
                            <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - RQST - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
